name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: wyvox/action-setup-pnpm@v3
    - name: Install Playwright Browsers
      working-directory: ./@app/front
      run: pnpm exec playwright install --with-deps
    - name: Run Playwright tests
      run: pnpm run --filter ./@app/front test:playwright
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: @app/front/playwright-report/
        if-no-files-found: error
        retention-days: 30
